/*
* Fonts
*/

@font-face {
  font-family: 'Geometria';
  src: url(../fonts/Geometria-Light.otf);
  font-weight: bold;
  font-style: normal;
}

/*
* Common
*/

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul {
    padding: 0;
}

a {
    color: #2B2B33;
}

a:focus,
a:active,
a:hover {
    color: #2B2B33;
    text-decoration: none;
}

.main {
    margin: 0 auto;
    max-width: 100em;
    padding: 5rem 6rem;
}

/* Common */

.description {
    color: rgba(0 , 0 , 0 , 0.6);
}

/* Header */

.logo {
    position: relative;
    margin-bottom: 15px;
    float: left;
}

.logo h1 {
    margin: 0;
    position: relative;
    z-index: 100;
}

.logo canvas {
    width: 100%;
    height: 3px;
    margin-top: -2px;
    position: absolute;
    display: block;
    z-index: 0;
}

@media screen and (max-width: 950px) {
    .logo h1 {
        font-size: 2.2em;
    }
}

/* Section */

section .row {
    display: flex;
    flex-wrap: wrap;
}

section h3 {
    margin-top: 25px;
    margin-bottom: 20px;
    font-weight: 400;
}

/* Boxes */

.box {
    margin-bottom: 20px;
    padding: 12px 0 12px 18px;
    border-left: 2px solid #CCC;

    display: block;
}


.box .name {
    font-size: 20px;
    font-weight: 400;
}

.box .description {
}

@media screen and (max-width: 768px) {
    .box {
        margin-top: 10px;
    }
}

/* Sublime text */

.sublime-text h3 {
    margin-top: 20px;
    color: rgba(255, 165, 0, .8);
}

.sublime-text .box {
    min-height: 92px;
    border-color: rgb(255, 165, 0);
}

.sublime-text .box:hover {
    background-color: rgba(255, 165, 0, .2);
}

.sublime-text [data-package-name] {
    display: none;
    margin: 2px 0;
}

/* Chrome Extensions */

.chrome-extensions h3 {
    color: rgba(224, 75, 64, .8);
}

.chrome-extensions .box {
    border-color: rgb(224, 75, 64);
}

.chrome-extensions .box:hover {
    background-color: rgba(224, 75, 64, .2);
}

/* Projects */

.projects h3 {
    color: rgba(88, 126, 191, .8);
}

.projects .box {
    border-color: rgb(88, 126, 191);
}

.projects .box:hover {
    background-color: rgba(88, 126, 191, .2);
}

/* Profiles */

.profiles h3 {
    color: rgba(15, 169, 96, .8);
}

.profiles .box {
    border-color: rgb(15, 169, 96);
}

.profiles .box:hover {
    background-color: rgba(15, 169, 96, .2);
}
