.navigation {
  position: fixed;
  left: 20px;
  top: 20px;
}

.navigation li {
  margin-bottom: 8px;
}

.navigation li::marker {
  color: var(--h4-color);
}

@media screen and (max-width: 1100px) {
  .navigation {
    position: absolute;
    display: flex;
    gap: 30px;
  }
}
