.main {
  height: 100%;
  padding: 0 1.5rem;
}

.mainCard {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: relative;
  word-spacing: -0.15rem;
}

.title,
.subTitle {
  color: var(--body-color);
}

.title .colored {
  background: linear-gradient(90deg, var(--h1-color), var(--h3-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.subTitle .colored {
  background: linear-gradient(90deg, var(--h1-color), var(--h3-color));
  background-repeat: no-repeat;
  background-size: 100% 2px;
  background-position: 0 100%;
}

.title {
  margin: 0;
  font-size: 50px;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.title .handle {
  color: #3a3847;
  display: none;
}

.subTitle {
  /*margin: 0.3em 0 0.4em 0;*/
  margin: 0.4em 0 0.4em 0;
  font-size: 28px;
  font-weight: 300;
}

.links {
  display: flex;
  margin-top: 1.5em;
  gap: 15px;
  justify-content: flex-end;
}

.links .link {
  color: var(--anchor-color);
  cursor: pointer;
}

.links .link:hover {
  color: var(--anchor-hover-color);
}

.social {
  margin-top: 0.8em;
  font-size: 75%;
  text-align: right;
}
.social .link {
  color: #7bcaff;
}

.social .link:hover {
  color: #97d5ff;
}

.open,
.open:hover {
  color: var(--anchor-hover-color);
  text-decoration: underline;
}

.close {
  position: relative;
  bottom: 0.1em;
}

@media screen and (max-width: 800px) {
  .title {
    display: block;
  }

  .subTitle {
    margin: 0.6em 0;
    line-height: 1.3em;
  }

  .handle {
    display: none;
  }

  .link {
    font-size: 15px;
  }
}
