---
import BaseLayout from '../layouts/BaseLayout.astro';
import Centered from '../components/Centered.astro';
---

<BaseLayout title="404 | nicosantangelo">
  <Centered>
    <h3>404</h3>
  </Centered>
</BaseLayout>
