---
import Navigation from '../components/Navigation.astro';
import '@fontsource-variable/inter';
import '../styles/globals.css';

interface Props {
  title?: string;
  description?: string;
}

const {
  title = 'nicosantangelo',
  description = "This is the personal website of Nicolás Santángelo (nicosantangelo), a programmer and all-round curious lad",
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NGB9HHHLJL" is:inline></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-NGB9HHHLJL');
    </script>
  </head>
  <body>
    <Navigation />
    <slot />
  </body>
</html>
